<footer class="global-footer">
  <div class="container container--lg">
    <div class="footerWrap">
      <a href="/" class="harper-logo">Harper</a>
      <div class="footerInner">
        <nav>
          <ul>
            <li>
              <a href="/about/">About</a>
            </li>
            <li>
              <a href="/press/">Press</a>
            </li>
            <li>
              <a href="/android/">Android</a>
            </li>
            <li>
              <a href="https://itunes.apple.com/us/app/harper-dog-training/id1338605261" target="_blank" onClick="fbq('track', 'Download');">Download</a>
            </li>
          </ul>
        </nav>
        <ul class="helpList">
          <li>
            <a href="tel:+1-513-818-2190‬"><span class="helpIcon helpIcon--phone"></span>Give us a call</a>
          </li>
          <li>
            <a href="sms:+1-513-818-2190‬"><span class="helpIcon helpIcon--chat"></span>Live chat us</a>
          </li>
          <li>
            <a href="/help/"><span class="helpIcon helpIcon--help"></span>Visit the help desk</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="footerFooter">
    <div class="container container--lg">
      <a href="/terms/">Terms</a>
      <a href="/privacy/">Privacy</a>
      <a href="mailto:nick@harper.dog">Contact</a>
      <small>&copy; Harper Pack LLC. All rights reserved.</small>
    </div>
  </div>
  
</footer>
