<header class="siteHeader">
  <div class="container container--lg">
    <h1>
      <a class="wordmark" href="/">
        <span class="logo"></span>
        <span>Desk of Susan</span>
      </a>
    </h1>

    <nav>
      <ul>
        <li>
          <a class="current" href="#">Portfolio</a>
        </li>
        <li>
          <a href="#">Journal</a>
        </li>
        <li>
          <a href="#">Photos</a>
        </li>
        <li>
          <a href="#">About</a>
        </li>
        <li>
          <a href="#">Now</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
