<header class="siteHeader">
  <div class="container container--lg">
    <h1>
      <a class="wordmark" href="/">
        <span class="logo"></span>
        <span class="name">Desk of Susan</span>
      </a>
    </h1>

    <nav>
      <ul>
        {% for item in site.navigation %}
          {% assign class = nil %}
          {% if page.url contains item.url %}
              {% assign class = 'current' %}
          {% endif %}
          <li>
            <a href="{{ item.url }}" class="{{ class }}">
              {{ item.title }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</header>
