body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  background-color: $almostWhite;
  font-family: $bodyFontFamily;
  font-weight: $fontWeight-normal;
  font-style: normal;
  line-height: $lineHeight-base;
  color: $almostBlack;
}

.container {
  max-width: 45rem;
  margin: 0 auto;
  padding: 0 ($defaultSpacer / 2);

  @include md {
    padding: 0 $defaultSpacer;
  }

  &.container--lg {
    max-width: 80rem;
  }
}

img {
  max-width: 100%;
}
