.siteHeader {
  padding: $defaultSpacer 0;
  margin-bottom: $defaultSpacer;
  
  @include md {
    padding: ($defaultSpacer * 2) 0;
    margin-bottom: $defaultSpacer * 2;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .wordmark {
      display: flex;
      align-items: center;
      
      .logo {
        width: $defaultSpacer * .75;
        height: $defaultSpacer * .75;

        @include md {
          width: $defaultSpacer;
          height: $defaultSpacer;
          margin-right: .5rem;
          position: relative;
          bottom: .125rem;
        }

      }
      
      .name {
        display: none;

        @include md {
          display: inline-block;
        }
      }
    }
  
    nav {
      display: block;

      ul {
        list-style: none;
          display: inline-block;

        li {
          display: inline-block;
          margin-right: .625rem;
          
          @include md {
            margin-right: $defaultSpacer * 1.5;

            &:last-child {
              margin-right: 0;
            }
          }

          a {

            &.current {
              border-bottom: 3px solid $hoverTypeColor;
            }
          }
        }
      }
    }
  }

  a {
    font-size: $fontSize-smallest;
    font-weight: $fontWeight-bold;
    text-transform: uppercase;
    letter-spacing: .2em;
    
    display: inline-block;
    color: $defaultTypeColor;
    padding-bottom: .25rem;
    
    &:hover,
    &:focus,
    &:active {
      color: $hoverTypeColor;
    }
  }
}
