/* Home */

.home {
  padding-bottom: $defaultSpacer;

  h1 {
    @extend .postTitle;
    margin-bottom: $defaultSpacer;
  }
  
  h2 {
    @extend .sectionTitle;
    margin-bottom: $defaultSpacer / 2;
  }
  
  hgroup {
    h2 {
      margin-top: ($defaultSpacer / 2 * -1);
      @extend .postSubtitle;
      margin-bottom: $defaultSpacer * 2;
    }
  }
  
  p {
    @extend .prose;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
}
