html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, b, i, ol, ul, li, figure, figcaption, footer, header, hgroup, article, main, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  color: inherit;
  text-decoration: none;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}
